body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c4c6c6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 4em;
  padding-top: 7em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  background-color: #dddddd;
  position: relative;
}

nav li {
  display: inline;
  padding: 0.25em;
}

nav li a.active {
  background-color: black;
  color: white;
}

nav li a:hover {
  background-color: rgb(156, 156, 156);
  color: white;
}

nav li a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li.admin {
  position: absolute;
  right: 0;
  bottom: 0.25em;
}

.teams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.team-box {
  border: 2px solid #333;
  border-radius: 8px;
  padding: 16px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-link {
  color: black;
  text-decoration: none;
}
.winner-row {
  color: green; /* White text color */
  font-weight: bold; /* Bold text */
}

.swiss-container {
  display: flex;
  align-items: center;
}

.round {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-items: center;
}

tbody tr td:first-child {
  border-right: 1px solid black;
  border-left: 3px solid transparent; /* Adding transparent border on the left */
  padding-right: 10px; /* Adjust this value to add space on the right */
}

tbody tr td:last-child {
  padding-left: 10px; /* Adjust this value to add space on the right */
}

thead tr:last-child {
  border-bottom: 1px solid black;
}

.round-name {
  color: #33333365;
}

.bracket-table {
  border-collapse: collapse;
}

.dot-pulse {
  position: absolute;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #dd2113;
  color: #dd2113;
  box-shadow: 9999px 0 0 -5px #dd2113;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
  margin-left: 50%;
  margin-top: 20%;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #dd2113;
  color: #dd2113;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #dd2113;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #dd2113;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #dd2113;
  }
  30% {
    box-shadow: 9984px 0 0 2px #dd2113;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #dd2113;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #dd2113;
  }
  30% {
    box-shadow: 9999px 0 0 2px #dd2113;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #dd2113;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #dd2113;
  }
  30% {
    box-shadow: 10014px 0 0 2px #dd2113;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #dd2113;
  }
}

@media (max-width: 768px) {
  .team-box {
    width: calc(50% - 20px);
  }
}
